body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.wrapper {
  padding: 2em;
}

.drag-and-drop-wrapper {
  width: 200px;
  padding: 0;
  border: 2px solid black;
  list-style-type: none;
}

.row {
  padding: 5px;
  font-size: 14px;
}

.row:hover {
  background: #edf4fa;
  cursor: pointer;
}

.drag {
  display: inline-block;
  color: grey;
  padding: 0px 3px;
  cursor: grab;
}

.drag:active {
  cursor: grabbing;
}
