.wrapper {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
}

.header {
  /* position: fixed;
  top: 0; */
  /* left: 0; */
}

.row {
  /* flex: 0 0 auto; */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row:hover {
  background-color: #e6f7ff;
  cursor: default;
}

.cell {
  flex: 0 0 auto;
  width: 200px;
  padding: 4px;
  border: 1px solid black;
}
